body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center; 
    background-image: url("./image/background.jpg");
    background-size: cover;
    overflow-y: hidden;
}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border: 5px solid rgba(245, 243, 243, 0.934);
    border-radius: 20px;
    width: 320px;
    overflow: hidden;
    text-align: center;
    border-radius: 20px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
       transition: 0.3s;
}
#calculator:hover{
      transform: scale(1.03);
}

#data{
    width: 95%;
    padding: 8px;
    font-size: 3rem;
    text-align: right;
    font-weight: bold;
    border: none;
    color: rgba(245, 132, 4, 0.922);
    background-color: transparent;
     box-shadow: 0 0 10px rgba(252, 248, 248);
}
input::placeholder{
    color: #ffffff;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 20px;
}

button{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%); 
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: -8px, -8px, 5px, rgba(23, 23, 23, 0.993);
}
#delete{
    font-size: 2rem;
    overflow: hidden;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}
.operator-btn{
    background-color: hsl(35, 100%, 55%);
}
.operator-btn:hover{
    background-color: hsl(35, 100%, 65%);
}
.operator-btn:active{
    background-color: hsl(35, 100%, 75%);
}
